<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Review Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="spa.js"></script>
    <title>Review</title>
</head>
<body>
<h1>Unfollowed User !</h1>
<p th:text="'unfollowed: ' + ${user.username}"></p>
<div th:if="${productid== null}">
<form action="#" th:action="@{/user/people}"  method="get">
    <button type="submit" id="submit">Back</button>
</form>
</div>
<div th:if="${productid != null}">
<form action="#" th:action="@{/product/__${productid}__}"  method="get">
    <button type="submit" id="back">Back</button>
</form>
</div>
</body>
</html>
