<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>User Page</title>
    <script>
        window.onload = function() {
            const tab = sessionStorage.getItem("tab") ? sessionStorage.getItem("tab") : "#reviews-tab";
            $(tab).addClass("active");
            if (tab == "#reviews-tab"){
                $("#reviews").addClass("active");
                $("#reviews").addClass("show");
                $("#following").removeClass("active");
                $("#following").removeClass("show");
            } else {
                $("#following").addClass("active");
                $("#following").addClass("show");
                $("#reviews").removeClass("active");
                $("#reviews").removeClass("show");
            }
        }
        $(document).on("click", "#reviews-tab", function() {
            sessionStorage.setItem("tab", "#reviews-tab");
        });
        $(document).on("click", "#following-tab", function() {
            sessionStorage.setItem("tab", "#following-tab");
        });
    </script>
</head>
<body>
    <div th:insert="nav :: nav">  </div>
    <br>
    <br>
    <div class="container">

        <div>
            <h2> <span th:text="${user.getUsername()}"></span></h2>
            <form action="#" class="form-horizontal"
                  th:action="@{/user/follow/{username}/{redirect_username}(username=${user.getUsername()},redirect_username=${user.getUsername()})}" method="get">

                <!-- follow button that allows the user to follow another user and redirects to the user page -->
                <td th:if="${user.getId() != curr_user.getId() and !(curr_user.isFollowing(user)) }">
                    <button type="submit" id="follow">Follow</button>
                <td>

            </form>
            <form action="#" class="form-horizontal"
                  th:action="@{/user/unfollowUser/{username}/{redirect_username}(username=${user.getUsername()},redirect_username=${user.getUsername()})}"
                  method="get">
                <td th:if="${user.getId() != curr_user.getId() and curr_user.isFollowing(user)}">
                    <button type="submit" id="unfollow"> Unfollow</button>
                </td>
            </form>
            <h5> Degrees of Separation: <span th:text="${curr_user.getDegreesOfSeparation(user)}"></span></h5>
            <h5> Jaccard Distance: <span th:text="${jacc_distance}"></span></h5>
        </div>
        <br>
        <div id="tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#reviews" id="reviews-tab" class="nav-link" data-bs-toggle="tab">Reviews</a>
                </li>
                <li class="nav-item">
                    <a href="#following" id="following-tab" class="nav-link" data-bs-toggle="tab">Following</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="reviews">
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name </th>
                            <th> Score </th>
                            <th> Comment </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="review : ${user.getReviews()}">
                                <td><a th:href="@{/product/{id}(id=${review.getAssociatedProduct().getId()})}">
                                    <span th:text="${review.getAssociatedProduct().getName()}"> </span></a></td>
                                <td> <p th:text="${review.getScore()}"/> </td>
                                <td> <p th:text="${review.getContent()}"/> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="following">
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name </th>
                            <th> Jaccard Distance </th>
                            <th> Degrees of Separation </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="follower : ${followers}">
                            <td><a th:href="@{/user/{username}(username=${follower.getUsername()})}"><p th:text="${follower.getUsername()}"></p></a></td>
                            <td><p th:text="${user.getJaccardDistanceReviews(follower)}"></p></td>
                            <td><span th:text="${curr_user.getDegreesOfSeparation(follower)}"></span></td>
                            <td>
                                <form action="#" class="form-horizontal"
                                  th:action="@{/user/follow/{username}/{redirectUsername}(username=${follower.getUsername()},redirectUsername=${user.getUsername()})}" method="get">

                                <!-- follow button that allows the user to follow another user and redirects to the user page -->
                                <div th:if="${follower.getId() != curr_user.getId() and !(curr_user.isFollowing(follower)) }">
                                    <button type="submit">Follow</button>
                                </div>

                            </form>
                            <form action="#" class="form-horizontal"
                                  th:action="@{/user/unfollowUser/{username}/{redirectUsername}(username=${follower.getUsername()},redirectUsername=${user.getUsername()})}"
                                  method="get">
                                <div th:if="${follower.getId() != curr_user.getId() and curr_user.isFollowing(follower)}">
                                    <button type="submit"> Unfollow</button>
                                </div>
                            </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>
</html>